@using Ryan_BugTracker.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="wrapper full-page-wrapper page-auth page-login text-center">
    <div class="inner-page" style="margin-top: -30px">
        <div class="logo">
            <img style="margin-left: -20px" src="~/assets/img/RyanChapman_Evolv3_Bigger.png" alt="" />
        </div>
        @if (Request.IsAuthenticated)
        {
            <h4 style="color: indianred">You don't have the authorization to view this page.</h4><br />
        }        
        <div style="margin-top: -15px" class="login-box center-block">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <form class="form-horizontal" role="form">
                <p class="title">Use your email</p>               
                <div class="form-group">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <label for="username" class="control-label sr-only">Username</label>
                    <div class="col-sm-12">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        </div>
                    </div>
                </div>
                <label for="password" class="control-label sr-only">Password</label>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        </div>
                    </div>
                </div>
                <label class="fancy-checkbox">
                    <input type="checkbox">
                    <span>Remember me next time</span>
                </label>
                <button class="btn btn-custom-primary btn-lg btn-block btn-auth"><i class="fa fa-arrow-circle-o-right"></i> Login</button>
            </form>
            <div class="links">
                <p>@Html.ActionLink("Forgot your password?", "ForgotPassword")</p>
                <p>@Html.ActionLink("Register as a new user", "Register")</p>
            </div>
            }
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.Email, new { @class = "form-control", Value = "administrator@bugtracker.com" })
                @Html.HiddenFor(m => m.Password, new { @class = "form-control", Value = "Password-1" })

                <div class="loginbox-submit">
                    <input type="submit" value="ADMINISTRATOR DEMO" class="btn btn-primary btn-block" style="margin-top: 30px" />
                </div>
            }
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.Email, new { @class = "form-control", Value = "projectmanager@bugtracker.com" })
                @Html.HiddenFor(m => m.Password, new { @class = "form-control", Value = "Password-1" })

                <div class="loginbox-submit">
                    <input type="submit" value="PROJECT MANAGER DEMO" class="btn btn-primary btn-block" style="margin-top: 5px" />
                </div>
            }
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.Email, new { @class = "form-control", Value = "developer@bugtracker.com" })
                @Html.HiddenFor(m => m.Password, new { @class = "form-control", Value = "Password-1" })

                <div class="loginbox-submit">
                    <input type="submit" value="DEVELOPER DEMO" class="btn btn-primary btn-block" style="margin-top: 5px" />
                </div>
            }
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.Email, new { @class = "form-control", Value = "submitter@bugtracker.com" })
                @Html.HiddenFor(m => m.Password, new { @class = "form-control", Value = "Password-1" })

                <div class="loginbox-submit">
                    <input type="submit" value="SUBMITTER DEMO" class="btn btn-primary btn-block" style="margin-top: 5px" />
                </div>
            }
        </div>
        <div class="separator"><span>OR</span></div>
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
